# Секретни ключове и пароли (НАЙ-ВАЖНОТО!)
.env

# Папки с инсталирани пакети (GitHub не се нуждае от тях, Render ще си ги инсталира сам)
node_modules/

# Системни файлове (Mac/Windows)
.DS_Store
Thumbs.db

# Лог файлове от грешки при инсталация
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Папки на кодови редактори (VS Code, WebStorm и др.)
.vscode/
.idea/