* {
    text-align: center;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
}
#Title {
    font-size: 48px;
    font-weight: 900;
}
#time, #date {
    font-size: 24px;
    font-weight: 500;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}