<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Form</title>
</head>

<body>
    <header>
        <h1>Форма за търсене на студенти по дисциплина и оценка с MongoDB</h1>
    </header>
    <section>
        <form action="/query" method="POST">
            <input type="text" placeholder="Въведи дисциплина" name="subject"> <br>
            <input type="text" placeholder="Въведи оценка" name="grade"> <br>
            <button type="submit">Изпрати</button>
        </form>
    </section>
    <section>
        <% if (results) { %>
            <% if (results.status === "ok") { %>
                <h2><%= results.title %></h2>
                <% if (results.docs.length === 0) { %>
                    <p>Няма</p>
                <% } else { %>
                    <ul>
                        <% results.docs.forEach(function(doc) { %>
                            <li><%= doc.name.firstName %> <%= doc.name.lastName %></li>
                        <% }); %>
                    </ul>
                <% } %>
            <% } else if (results.status === "fail") { %>
                <p><%= results.info %></p>
            <% } %>
        <% } %>
    </section>
</body>

</html>